extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            // method는 post로 해야됨 정보를 비밀로 유지해야되기 때문
            input(type="text", name="name", placehorder="Full Name", required=true)
            input(type="email", name="email", placehorder="Email", required=true)
            input(type="password", name="password", placehorder="Password", required=true)
            input(type="password", name="password2", placehorder="Verify Password", required=true)
            input(type="submit", value="Join Now")
        include partials/socialLogin